#replycontent td{
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 11px;
 }

#commentsection.table.align-items-center.table-flush{
  font-size: 13px;
}

#commentsection.table.align-items-center.table-flush tr td{

  padding-top: 2px;
  padding-bottom: 2px;
}

#commentsection.table.align-items-center.table-flush.badge-sm {
  min-width: 1.9em;
  padding: .25em !important;
  margin-left: .1em;
  margin-right: .1em;
  color: white !important;
  cursor: pointer;
  border-width: 0px;
}

body{
    background: white url("/media/wallpaper3.jpg") no-repeat;
    background-size: auto;
    background-position: top;
    background-attachment: fixed;
  }

h2{
  color: white;
  text-align: center;
}

.nav-item a{
    text-align: center;

  }

.nav-item{
    padding-right:30px;
  }

