{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<div class="main-content">
    <div class="container mt-7" style="width: 600px;">
        <h2 class="mb-5" style="color: white;">Post Detail</h2>
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0" style="padding-left: 10px;">
                    <!-- Table Header -->
                        <table>
                            <tr>
                                <td style="width: 40px;"><i class="bi bi-chat bi-large" style="font-size: 1.75rem;"></i></td>
                                <td><h3 class="mb-0">{{ posts.title }}</h3></td>
                            </tr>   
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush table-borderless">
                            <thead class="thead-light">
                                <tr>
                                    <td style="width: 56px; height:56px; padding-left: 10;"><img src="{{user.profile.image.url}}" style="border-radius: 50%;" width="32" height="32"></td>
                                    <td style="padding-left: 6px">@{{ posts.user }}</td> <!-- User des Posts hier, nicht User der angemeldet ist-->                              
                                </tr>
                                <tr>
                                    <td colspan="3" style="padding-left: 60px;">{{posts.content}}</td>
                                </tr>
                            

                                <tr>
                                    <td colspan="3" style="padding-top: 40px; font-size: 10px; text-align: right;">{{posts.date}}</td>
                                </tr><br>
                                <tr>
                                    <td colspan="2"  style="font-size: 10px; padding-bottom: 0px;">{{comments.count}} comments</td>
                                    <td style="padding-top: 2px; padding-bottom: 0px; text-align: right;"> 
                                        <a href="/create_comment/post.id/user">Add comment</a>
                                        <button type="submit" class="btn btn-dark" style="
                                        padding-top: 1px;
                                        padding-bottom: 1px;
                                        padding-right: 6px;
                                        padding-left: 6px;
                                        width: 78px;
                                        height: 20px;
                                        font-size: 10px;" onclick=
                                        >Add comment
                                        </button>
                                    </td>
                                </tr>                                                               
                            </thead>
                        </table>
                        <table class="table align-items-center table-flush">
                            <thead  class="thead-light">
                                {% for comment in comments %}
                                <tr>                                    
                                    <td>@{{ comment.user }}</td>
                                    <td>{{ comment.body }}</td>
                                    <td style=" font-size: 10px; text-align: right;">{{comment.date | linebreaks }}</td>
                                </tr>

                                
                                {% endfor %} 
                            </thead>

                        </table>

                        {% if posts.image %} 
                        <img src="{{ posts.image.url}}" width="300" height="200"> 
                         {% endif %}
                        
                        <tr>
                            <form action="{% url 'like_post' posts.pk %}" method="POST">
                                {% csrf_token %}
                            <button type="submit", name="post_id", value="{{posts.id}}", class="btn btn-primary btn-sm">  &#128077</button>
                            </form>
                            Like/Dislike: {{ posts.votes }}
                            <form action="{% url 'dislike_post' posts.pk %}" method="POST">
                                {% csrf_token %}
                            <button type="submit", name="post_id2", value="{{posts.id}}", class="btn btn-primary btn-sm">  &#128078 </button>
                            </form>
                        </tr>
                    </div>                
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
