{% extends "base.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<div class="main-content">
    <div class="container mt-7" style="width: 600px;">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
                <div class="row pad">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Username: <strong class="float-right">{{user}}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Full Name: <strong class="float-right">{{user.get_full_name}}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Email: <strong class="float-right">{{user.email}}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Department: <strong class="float-right">{{user.profile.department}}</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <form action="/profile" enctype="multipart/form-data" method="POST">{% csrf_token %} 
                                            {{ form.as_p }}
                                            <button type="submit">Upload</button>
                                            {% if user.profile.image %}
                                            <p>Profile Photo: <strong class="float-right"> <img src="{{user.profile.image.url}}"class="rounded-circle" alt=""
                                                width="150px" height="150px"></strong>></p>
                                            {% else %}
                                            <p></p>
                                            {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}