{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    <h1>Login</h1>
    <!-- {{form|crispy}}-->
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>     <!-- oder einfach Username -->
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>      <!-- oder einfach Password -->
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <p>  <a href="/user/templates/signup.html">Click here for registration</a></p>
  </form>

  <!--{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}-->

{% endblock %}