{% extends "base.html" %}
{% block body %} 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <h2 class="mb-5">Tables Example</h2>
      <div class="row">

        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Boards</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {%for board in boards%}
                  <tr>
                    <th scope="row">
                      <!--<div class="media align-items-center">
                      <div class="media align-items-center">
                        <div class="media-body">-->
                          {{board.name}}
                          <small class="text-muted d-block">{{board.description}} </small>
                          <!-- <span class="mb-0 text-sm">Argon Design System</span> -->
                       <!-- </div>
                      </div>-->
                    </th>
                    <td>0</td>
                    <td>0</td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">To_DO</a>
                          <a class="dropdown-item" href="#">To_DO</a>
                        </div>
                      </div>
                    </td>
                  </tr>  
                {%endfor %}              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




{% endblock %}