{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<h1 style="text-align:center; margin-block:40px; color:white;">Hey {{user}}, Edit your Thread</h1>
<form method="POST" enctype="multipart/form-data" style="width: 600px; margin-left: 700px; ">
    {% csrf_token %}
    <body>
        <h1 style="text-align:center; margin-block:40px; color:white;"></h1>
        <div class="container">
            {{form.as_p}}
        </div>
    </body>
    <center>
    <button type="submit", name="Edit Thread", value="Edit Thread", class="btn btn-secondary">Edit</button>
    </center>
    
</form>
{% endblock content %}   
