{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<body>
  <!-- Only show the Posts if the User is logged in-->
  {% if user.is_authenticated%}
  <div class="main-content">
    <div class="container mt-7">
      <!-- Here Heading -->
      <h2 class="mb-5">Hello {{user}}, here you can see all Posts</h2>
      <!-- Here the Table begins -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <!-- Table Header -->
              <h3 class="mb-0" style="float:left">Posts</h3>
              <ul>
              <form class="searchfield" style="float:right" action={% url 'search_threads' %} method="GET">
                  <div>
                    <input type="text"   value="{{request.GET.searched}}" name="searched" id="search_threads" placeholder="Search.."> 
                    <button id="search-button" class="btn btn-secondary" type="submit">Search</button>
                  </div>
              </form>  
              </ul>
            
                <!-- Searchfield
                <form class="searchfield" method = POST action= "{% url 'search_threads' %}">

                {% csrf_token%}

                <input class="form-control me-2"
                type="search" placeholder="Search Threads" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
              </form>
              -->
            
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <!-- Table Headings per Row -->
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Viewed</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Get all the Posts from the database and show them in the table -->
                  {% for post in posts %}
                  <tr>
                    <th scope="row">
                      <a>{{post.title}}</a>
                      <small class="text-muted d-block">{{post.description}} </small>
                    </th>
                    <td>{{post.user}}</td>
                    <td>0</td>
                    <td>{{post.date}}</td>
                    <!-- This section is used later for Actions to the related post -->
                    <td class="text-right">
                      <div class="dropleft">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-expanded="false">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="{% url 'post-detail' post.pk %}">View Post</a>
                          {% if request.user == post.user or request.user.is_superuser %}
                          <a class="dropdown-item" href="{% url 'delete-post' post.id user %}">Delete Post</a>
                          {%endif%}
                          {% if request.user == post.user %}
                          <a class="dropdown-item" href="{% url 'edit_thread' post.id user %}">Edit Thread</a>
                          {%endif%}
                        </div>
                      </div>
                    </td>
                  </tr>
                  {%endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endif%}

</body>
{% endblock %}